<p-toast></p-toast>

<div class="admin-page">
    <p-card header="Add Categories" subheader="You can add and edit Categories here">
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-left">
                        <p-button label="Create" styleClass="p-button-Primary mr-2" icon="pi pi-plus"
                        (click)="onSubmit()"></p-button>
                        <p-button label="Cancel" styleClass="p-button-secondary" icon="pi pi-arrow-circle-left"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="p-col-12">
               <form [formGroup]="form">
                <div class="card">
                    <div class="formgrid fluid grid">
                        <div class="field col">
                            <label for="name">Name</label>
                            <input formControlName="name" id="name" type="text" pInputText />
                            <small *ngIf="categoryForm.name.invalid && isSubmitted" class="p-error">Name is invalid </small>
                        </div>
                        <div class="field col">
                            <label for="icon">Icon</label>
                            <input formControlName="icon" id="icon" type="text" pInputText />
                            <small *ngIf="categoryForm.icon.invalid && isSubmitted" class="p-error">icon is invalid </small>
                        </div>
                    </div>
                </div>
                
               </form>
            </div>
        </div>
    </p-card>
</div>